coreNodeSelector: &coreNodeSelector
  hub.jupyter.org/node-purpose: core
grafana:
  nodeSelector: *coreNodeSelector
  grafana.ini:
    auth.anonymous:
      enabled: true
      org_name: BIDS
      org_role: Viewer
    auth.basic:
      enabled: true
  ingress:
    hosts:
      - aifutureslab-hub-grafana.bids.berkeley.edu
    tls:
      - hosts:
          - aifutureslab-hub-grafana.bids.berkeley.edu
        secretName: tls-grafana
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: prometheus
          orgId: 1
          type: prometheus
          url: https://aifutureslab-hub-prometheus.bids.berkeley.edu
          isDefault: true
          editable: false
prometheus:
  server:
    ingress:
      hosts:
        - aifutureslab-hub-prometheus.bids.berkeley.edu
      tls:
        - hosts:
            - aifutureslab-hub-prometheus.bids.berkeley.edu
          secretName: tls-prometheus
