coreNodeSelector: &coreNodeSelector
  hub.jupyter.org/node-purpose: core
grafana:
  nodeSelector: *coreNodeSelector
  grafana.ini:
    auth.anonymous:
      enabled: true
      org_name: BIDS
      org_role: Viewer
    auth.basic:
      enabled: true
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      kubernetes.io/tls-acme: "true"
  persistence:
    size: 2Gi
    enabled: true
    accessModes:
      - ReadWriteOnce
prometheus:
  nodeSelector: *coreNodeSelector
  nodeExporter:
    updateStrategy:
      type: RollingUpdate
  alertmanager:
    enabled: false
  pushgateway:
    enabled: false
  rbac:
    create: true
  server:
    nodeSelector: *coreNodeSelector
    podLabels:
      hub.jupyter.org/network-access-hub: "true"
    ingress:
      enabled: true
      ingressClassName: traefik
      annotations:
        kubernetes.io/tls-acme: "true"
  kube-state-metrics:
    metricLabelsAllowlist:
      - pods=[app,component]
      - nodes=[*]
traefik:
  service:
    spec:
      # Preserve client IPs
      externalTrafficPolicy: Local
  ingressClass:
    name: traefik
    isDefaultClass: true
  nodeSelector: *coreNodeSelector
  deployment:
    replicas: 2
  logs:
    access:
      enabled: true
